/* comentário CSS */
/*
    # Anátomia CSS 
        * Selector
        * Declaration
        * Properties
        * Property Value
*/
    h1{
        color: blue;
        font-size: 60px;
        background: black
    }
 