/*
    # Terminologia

    - Flex Container
        - Flex item

    - Nesting

    - Axis
        - Main
            - Start, end
        - cross
            - start, end

    - Flex sizing
        - Flexível
        - Altera width/lenght dos itens para preenchimento dos espaços do flex container
*/

.container2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vw;
}

.container3 {
    display: flex;
    border: 1px solid red;
    height: 80vw;
}

.item3 {
    background-color: gray;
    border: 1px solid;
    flex: 1;
}