/*
    # Direção dos itens

        - Flex é uma dimensão (horizontal ou vertical)
        - Podemos mudar a direção com `flex-direction`
        - Valores: row | row-reverse | colun | colun-reverse
*/

.container {
    display: flex;
    flex-direction: column-reverse;
    height: 80vw;
}
