* {
    margin: 0;
}

h1 {
    margin: 20px 0px 20px 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 85vh;
    margin-left: 20px;
    border: solid gray 1px;
}

.pontos {
    height: 25px;
    background-color: gray;
    padding-left: 5px;
}

.window {
    margin-left: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 50px;
    margin-top: auto;
    background-color: lightgray;
}